@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color:  rgb(159, 209, 250);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
   
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(159, 209, 250);
    z-index: 1;
}

ul {
    list-style: none;
}

li {    
    margin: 1rem;
    font-size: 12px;
    display: inline-block;
    position: relative;
}

a {
    color: #404040;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}



.btn {
    background: #5ca7db ;
    border-radius: 24px;
    margin: 10px;
    padding: 15px;
    font-size: 12px;
    color: white;
}

#logo {
    margin: 2rem;
    float: left;
    width: 100px;
    height: 50px;
    background: url(images/logo.png) no-repeat center;
    display: block;
    margin-left: 25%;
}

nav {
    float: center;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

#rocket {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    height: 300px;
    width: 60%;
}

#rocket .info-img {
    float: right;
    width: 50%;
    background: url(images/rocket3.png) no-repeat center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

#rocket .info-content {
    float: left;
    width: 40%;
    height: 300px;
    text-align: left;
    overflow: hidden;
}

#rocket .info-content p { 
    font-size: 16px;
}

.rocket1 {
    margin-left: 65px;
}

.rocket2 {
    margin-left: 15px;
}

.clouds {
    margin-top: 230px;
}

.oblaci {
    margin-top: 120px;
    margin-left: 0;
    margin-bottom: 0;
    border-bottom: white;

}

.main {
    margin-top: -10px;
    top: 0;
    background: white;
}

.naslov1 {
    color: #606060;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 14px;
    margin: 0;  
}

.naslov2 {
    font-size: 24px;
    text-align: center;
}

#article {
    margin-left: 25%;
    margin-right: 25%;
}

.naslov3 {
    font-size: 13px;
    text-align: center;
}

#content p {
    font-size: 12px;
}

.blob {
    border-radius: 51% 47% 65% 38% / 48% 44% 61% 32%; 
    background-color: rgb(252, 200, 213);
    height: 50px;
    width: 50px;
    margin-left: 35%;
}

.blob2 {
    border-radius: 51% 47% 65% 38% / 48% 44% 61% 32%; 
    background-color: rgb(199, 245, 243);
    height: 50px;
    width: 50px;
    margin-left: 35%;
}

.blob4 {
    border-radius: 51% 47% 65% 38% / 48% 44% 61% 32%; 
    background-color: rgb(184, 204, 241);
    height: 50px;
    width: 50px;
    margin-left: 35%;
}


.blob3 {
    border-radius: 51% 47% 65% 38% / 48% 44% 61% 32%; 
    background-color: rgb(221, 231, 226);
    height: 50px;
    width: 50px;
    margin-left: 35%;
}

#content i {
    margin-left: 30%;
    margin-top: 30%;
}

.seo {
    display: inline-block;
    width: 20%;
    padding: 1rem;
}

.why {
    margin-top: 50px;
}
.image {
    margin: 0;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

.who1 {
    margin-left: 26px;
    width: 60%;
    display: inline-block;
}

.image img {
    width: 100%;
}

.why1 {
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    margin-left: 20px;
}

.who0 {
    
    display: inline-block;
    width: 35%;
}

.who0 p {
    text-align: left;
}
.who0 h3 {
    text-align: left;
}
.who0 h1{
    text-align: left;
}
.why1 p {
text-align: left;
}

.why1 h1 {
    text-align: left;
} 
        
.why1 h3 {
   text-align: left;
}

.our .why1 {
    margin-left: 0;
}

.our .image {
    margin-left: 20px;
}

.multiple-items {
    margin-top: 20px;
    margin-bottom: 400px;
}

html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 50%;
      margin: 100px auto;
  }


  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: 1;
  }

  .slick-current {
    opacity: 1;
  }

  .customer {
    border-radius: 51% 47% 65% 38% / 48% 44% 61% 32%;    
  }

  .customer1 {
      display: inline-block;
      width: 30%;
  }

  .customer2 {
      display: inline-block;
  }

 #korisnik {
     background-color: rgb(159, 209, 250);
 }

 .plava {
     margin-left: 25%;
     margin-right: 25%;
 }

 .margine {
     background-color: rgb(199, 245, 243);
 }

 .svetla {
    margin-left: 33%;
    margin-right: 33%;
}

.svetla h3 {
    margin-top: 50px;
}

.svetla h1 {
    margin-top: 40px;
}

.fname {
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
}

#bela {
    margin-top: -30px;
    background-color: white;
    margin-bottom: -50px;
}

.bela1 {
    margin-left: 20%;
    margin-right: 20%;
}



.patern1 {
    display: inline-block;
    width: 40%;
}

.patern2 {
    display: inline-block;
    width: 59%;
}

.slika {
    width: 80%;
}
.naslo {
    text-align: left;
    font-size: 10px;
}

.naslo1 {
    margin-top: -5px;
    font-size: 10px;
}

.bela3 {
    display: inline-block;
    width: 25%;
}

.ivice {
    background-color: rgb(199, 245, 243);
    margin: 8px;
    padding: 5px;
    border-radius: 30px;
    font-size: 12px;
}

.tagovi a {
    display: inline-block;
}

.tagovi li {
   display: list-item;
   list-style: circle;
}
.tagovi ul {
    margin: 0px;
}

.razmak {
    margin-bottom: 40px;
}
.bela4 {
    display: inline-block;
    width: 20%;
}

.end1 {
    display: inline-block;
}

.end2 {
    margin-top: 20px;
    text-align: center;
}
.end {
    display: inline-block;
    text-align: center;
}

#price {
    margin-top: 70px;
}
.price1 {
    margin: 0;
    background-color: white;
    float: left;
    width: 50%;
    height: 400px;
    box-shadow: -1px 5px 26px -3px rgba(99,94,99,1);
}
.price2 {
    float: right;
    width: 50%;
    height: 350px;
    background-color: white;
    margin-top: 25px;
    box-shadow: 1px 5px 26px -3px rgba(99,94,99,1);
}

#price .price1 p{
    text-align: center;
    font-size: 12px;
    color:  #606060 ;
}
#price .price1 h1{
    
        color:  #606060 ;
}
#price .price1 h3{
  
    text-align: center;
    color:  #606060 ;
}
#price .price2 p{
    margin-top: -3px;
    text-align: center;
    font-size: 12px;
    color:  #606060 ;
}
#price .price2 h1{
    margin-top: -3px;
    text-align: center;
        color:  #606060 ;
}
#price .price2 h3{
    margin-top: -3px;
    text-align: center;
    color:  #606060 ;
}
.who1 a {
    margin-left: 30%;
}